<!--The content below is only a placeholder and can be replaced.-->
<nav class="left">
<ul>
  <li><a routerLink="/all"><img src="assets/images/all.png" class="icon"></a></li>
  <li><a routerLink="/item/completed"><img src="assets/images/completed.png" class="icon"></a></li>
  <li><a routerLink="/item/notcompleted"><img src="assets/images/not_completed.png" class="icon"></a></li>
  <li><a routerLink="/add"><img src="assets/images/add.png" class="icon"></a></li>
</ul>
</nav>
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<router-outlet></router-outlet>
